# Default ignored files
/../../Predicting Heart Disease /.idea/shelf/
/../../Predicting Heart Disease /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Predicting Heart Disease /.idea/httpRequests/
# Datasource local storage ignored files
/../../Predicting Heart Disease /.idea/dataSources/
/../../Predicting Heart Disease /.idea/dataSources.local.xml
